* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 25px 90px;
    align-items: center;
}

header .logo {
    font-size: 2.2em;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header button {
    background-color: transparent;    
    border: 1px solid magenta;
    padding: 7px 20px;
    font-size: 1em;
    text-transform: capitalize;
    color: magenta;
    border-radius: 100px;
}
main{
    display: flex;
    flex-direction:column ;
    align-items: center;
    padding: 50px  0;
}
main h1{
    font-size: 3em;
    text-transform: capitalize;
}
main p{
    width: 80%;
    padding: 25px;
    text-align: center;
    color: darkblue;
    font-size: 1.2em;
}
main button{
    background-color: magenta;
    border: none;
    padding: 20px 70px;
    color: white;
    border-radius: 70px;
    font-size: 1.2em;
}
.pic img{
    width: 300px;
}
.pic {
display:flex;
justify-content: center;
}
.start{
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
.start1 h1{
    font-size: 3em;
    font-weight: bolder;  
}
.start2 h1{
    font-size: 3em;
    font-weight: bolder;
} 
.start1 p{
    padding: 10px 0;
    text-transform: capitalize;
    font-size: 0.8em;
    color: lightblue;
}
.start2 p{
    padding: 8px ;
    text-transform: capitalize;
    font-size: 0.8em;
    color: lightblue;
}
.grow-together{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5%;
}
.grow-together .grow-1{
    width: 40%;
}
.grow-together .grow-2{
    width: 40%;
}
.grow-together .grow-1 h1{
    font-size: 30px;
    padding-bottom: 20px;
}
.grow-together .grow-1 p{
    font-size: 18px;
    color: darkcyan;

}
.grow-together .grow-2 img{
    width: 300px;
    border-radius: 20px;
    
}
.flow{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flow .flow-1 h2{
padding-bottom: 0.5em;
font-size: 2em;
}
.flow .flow-1 p{
    width: 70%;
    font-size: 1.2em;
    color: darkcyan;
}
.flow .flow-1{
 padding-left: 6em;
 margin-left: 50px;
}
.flow .flow-2{
    margin-left: 6em;
}
.flow .flow-2 img{
    width: 300px; 
    border-radius: 20px;
}
.my-user{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20%;
}
.my-user .user-1 h2{
    padding-bottom: 0.5em;
    font-size: 2em;
    font-weight: bolder;
}
.my-user-1{
    width: 30%;
}
.my-user .user-1 p{
    width: 70px;
    font-size: 1.2em;
}
.my-user img{
    border-radius: 20px;
    width: 300px;
}
.my-user .my-user-1 p{
    color: darkcyan;
}
.Ready-1{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.Ready button{
    width: 200px;
    margin: 20px;
    background-color: magenta;
    padding: 15px 30px;
    text-transform: capitalize;
    color: white;
    border-radius: 20px;
    margin: 0 auto;
    border: none;
}
.Ready .Ready-1 button{
    margin-top: 20px;
    border: none;
}

@media (max-width:1301px){
    body{
        background-color:greenyellow
        ;
    }
    main h1{
        font-size: 2.5em;
    }
}

@media(max-width:750px){
    main h1{
        font-size: 1.5em;
    }
    .start{
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    }
    .grow-together{
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .flow{
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .my-user{
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .Ready{
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .flow h2{
        font-size: 1.5em;  
    }
}
@media(max-width:460px){
    main h1{
        font-size: 1.2em;
    }
    }

    @media (max-width:440px){
        header {
            flex-direction: column;
            gap: 20px;
        }
        main h1 {
            font-family: 'Trebuchet MS';
            font-size: 5vw;
        }

        main p {
            font-family: 'Trebuchet MS';
            width: 100% !important;
            font-size: 1em !important;
        }

        main button{
            padding: 7px 25px !important;
            font-size: 1em !important;
        }

         img {
            width: 150px !important;
        }

        .start {
            width: 100% !important;
        }
        .start1 {
            margin-bottom: 2em;
            padding: 0 !important;
        }
        .start p {
            color: gray;
        }
        .grow-together{
            width: 100% !important;
            margin: 5em 0;
        }
        .grow-1{
            margin-bottom: 3em;
        }
        .grow-together .grow-1 h1{
            font-size: 1.3em;
            width: 100%;
        }

        .grow-1, .grow-2{
            width: 100% !important;
        }
        .grow-together p {
            margin: auto;
        }
        .flow .flow-1 h2{
            font-size: 1em;
        }
        .flow{
            width: 100%;
        }
        .flow-1, .flow-2{
            flex-basis: 100% !important;
            padding: 0 !important;
            margin: 0 !important;
        }
        .flow p{
            font-size: 1em !important;
            width: 90%;
            margin: auto;
        }

        .my-user{
            width: 100%;
            margin: 20% 0;
        }
        .my-user-1 {
            width: 90%;
        }
        .my-user-1 p{
            margin: 2em 0;
        }

        .Ready-1 button {
            padding: 12px 30px;
        }
    }
